/*-- Body --*/
body {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version,currently
                                  supported by Chrome and Opera */
}
/* ---------- */

/*-- Main Content --*/
.main-content {
  color: #ecf0f1;
  background-image: url("../images/background.png");
  margin-top: -20px;
}
.main-content h3 {
  text-align: center;
  padding-bottom: 100px;
  color: #fff;
  text-shadow: 1px 1px 5px #ecf0f1;
}
/* ---------- */

/*-- Area Of Interest Section --*/
#area-interest h4 {
  text-align: center;
  padding: 20px 0 20px 0;
}
#area-interest p {
  text-align: left;
  padding-bottom: 100px;
  font-size: 15px;
}
@media (max-width: 767px) {
  #area-interest {
    padding: 50px 100px 0 100px;
  }
  #area-interest p {
    padding-bottom: 40px;
  }
}
@media (min-width: 768px) {
  #area-interest {
    padding: 10px 100px 0 100px;
  }
}
.area-interest-icon {
  height: 100px;
  margin: auto;
  border-radius: 50px;
  border: 5px solid lightblue;
}
/* ---------- */

/*-- Work Experience Section --*/
#work-experience h4,h5 {
  text-align: center;
  padding: 5px 0 0 0;
}
.company-name {
  padding-bottom: 100px;
}
.company-icon {
  margin: auto;
  height: 100px;
  border-radius: 50px;
  border: 5px solid lightgreen;
}
@media (max-width: 767px) {
  .company-name {
    padding-bottom: 40px;
  }
  #work-experience {
    padding: 0 100px 0 100px;
  }
  #work-experience h3 {
    font-size: 1.6em;
  }
}
/* ---------- */

/*-- Education --*/
#education h4,h5 {
  text-align: center;
  padding: 5px 0 0 0;
}
.school-name {
  padding-bottom: 100px;
}
.school-icon {
  margin: auto;
  height: 100px;
  border-radius: 50px;
  border: 5px solid lightpink;
}
@media (max-width: 767px) {
  .school-name {
    padding-bottom: 40px;
  }
  #education {
    padding: 0 100px 0 100px;
  }
}
@media (min-width: 768px) {
  #education {
    padding: 0 100px 0 100px;
  }
}
/* ---------- */

/*-- Footer --*/
.footer {
  text-align: center;
  background-color: #f2f2f2;
}
/* ---------- */
