/*-- Main Content --*/
.main-content {
  background-color: #666;
  color: #fff;
}
.main-content h3 {
  text-align: center;
  text-decoration: underline;
  padding-bottom: 20px;
}
/* ---------- */

/*-- Area Of Interest Section --*/
.area-interest h4 {
  text-align: center;
}
.area-interest p {
  text-align: left;
}
@media (max-width: 767px) {
  .area-interest {
    padding-top: 420px;
  }
}
@media (min-width: 768px) {
  .area-interest {
    padding-top: 320px;
  }
}
@media (min-width: 992px) {
  .area-interest {
    padding-top: 220px;
  }
}
.area-interest-icon {
  height: 100px;
  margin: auto;
  border-radius: 50px;
  border: 3px solid lightblue;
}
/* ---------- */

/*-- Work Experience Section --*/
.work-experience {
  background-color: #666;
  color: #fff;
}
.work-experience h4,h5 {
  text-align: center;
}
.company-icon {
  margin: auto;
  height: 100px;
  border-radius: 50px;
  border: 3px solid lightgreen;
}
