/* -- Nav Bar -- */
nav {
  background-color: #f2f2f2;
  color: #000;
}
/* ---------- */

/* -- Nav Bar Header -- */
.profile-cover {
  padding: 20px 10px 20px 10px;
}
nav .col-md-9 {
  text-align: right;
}
nav .col-md-6 {
  float: left;
}
.profile-img {
  border-radius: 75px;
  object-fit: cover;
  transform: rotate(90deg);
  width: 150px;
  height: 150px;
}
.social-icon {
  width: 40px;
  height: 30px;
  display: inline-block;
  padding: 0 5px 0 5px;
}
/* ---------- */

/* -- Nav Bar Menu -- */
nav ul li a {
  text-decoration: none;
  color: #000;
}
nav ul li a:hover {
  background-color: transparent !important;
  color: #000;
  font-weight: bold;
}
/* ---------- */
